# Assignment \#5 the Olympic dataset 2/2

#### Features description
- *City*: City
- *Edition*: Year
- *Sport*: Sport
- *Discipline*: Discipline
- *Athlete*: Athlete's last name and first name (generally separated by a comma and a space)
- *NOC*: Country, National Olympic Committee, ISO 3166-1 alpha-3
- *Gender*: Men, Women
- *Event*: Event
- *Event_gender*: Event gender (F = Women, M = Men, X = NA)
- *Medal*: Metal of medal (Bronze, Silver, Gold)

In [1]:
# usual import and options
import pandas as pd
pd.set_option("display.max_rows", 16)

### Loading the dataset

**file**: `'Summer Olympic medallists 1896 to 2008 - ALL MEDALISTS.txt'`

**separator**: tab: `\t`

In [2]:
# LOADING THE DATASET
# DO NOT CHANGE THIS CELL FOR GRADING
# THE DATASET SHOULD BE ALONG WITH THE NOTEBOOK AND THE PYTHON FILE

df = pd.read_csv('Summer Olympic medallists 1896 to 2008 - ALL MEDALISTS.txt', sep='\t')
df.head()

,City,Edition,Sport,Discipline,Athlete,NOC,Gender,Event,Event_gender,Medal
0,Athens,1896,Aquatics,Swimming,"HAJOS, Alfred",HUN,Men,100m freestyle,M,Gold
1,Athens,1896,Aquatics,Swimming,"HERSCHMANN, Otto",AUT,Men,100m freestyle,M,Silver
2,Athens,1896,Aquatics,Swimming,"DRIVAS, Dimitrios",GRE,Men,100m freestyle for sailors,M,Bronze
3,Athens,1896,Aquatics,Swimming,"MALOKINIS, Ioannis",GRE,Men,100m freestyle for sailors,M,Gold
4,Athens,1896,Aquatics,Swimming,"CHASAPIS, Spiridon",GRE,Men,100m freestyle for sailors,M,Silver

#### Questions

1) How many different events are in the dataset?

2) How many different events including numbers in their description are in the dataset?

3) Which athlete has participated in the most editions?

4) How many sports have the same number of Gold, Silver and Bronze medals?

5) How many athletes have strictly more Gold medals than Silver and more Silver medals than Bronze?

6) Which country has won at least one medal in each olympic edition?

7) Add a column named 'Score' with 1 for Bronze, 2 for Silver and 3 for Gold medals. What is the total sum of scores?

8) Which athlete has the largest sum of scores?

9) Which woman athlete has the largest sum of scores?

10) For how many countries the sum of men's scores is equal to the sum of women's scores?

11) Add a column named 'Trial' with the concatenation of columns 'Discipline', 'Sport' and 'Event' separated by a space. How many different trials are in the dataset?

12) Which edition has the largest number of different trials?

13) Add a column 'First Name' with the first name of athletes. How many different first names are in the dataset (+)?

14) Which athlete's first name has the largest sum of scores (+)?

15) Which woman athlete's first name has the largest sum of scores (°) (+)?

(°) Use the 'Gender' column.
(+) Most of athlene's names are in the form: 'SURNAME, Firstname'

In [3]:
# 1) How many different events are in the dataset?

def exercise_01():
    result = df['Event'].nunique()
    return result


# run and check
exercise_01()

577

In [4]:
# 2) How many different events including numbers in their description are in the dataset?

def exercise_02():
    
    unique = df['Event'].unique()
    BOOL = pd.Series(unique).str.contains('\d')
    result = BOOL.value_counts()[1]
    return result


# run and check
exercise_02()

430

In [5]:
# 3) Which athlete has participated in the most editions?

def exercise_03():
    var = df.pivot_table(index = 'Athlete', values = 'Edition', aggfunc = 'nunique')
    result = var.fillna(0).idxmax()[1]
    return result


# run and check
exercise_03()

'SZIVOS, Istvan'

In [6]:
# 4) How many sports distributed exactly the same number of Gold, Silver and Bronze medals?

def exercise_04():
    df.fillna(0)
    var = df.pivot_table(index = 'Sport', columns = 'Medal', values = 'NOC', aggfunc = 'count')
    result = ((var['Gold'] == var['Silver']) & (var['Silver'] == var['Bronze'])).value_counts()[1]
    return result

# run and check
exercise_04()

7

In [7]:
# 5) How many athletes received strictly more Gold medals than Silver and strictly more Silver medals than Bronze?

def exercise_05():
    var = df.pivot_table(index = 'Athlete', columns = 'Medal', values='Sport', aggfunc='count').fillna(0)
    result = ((var['Gold'] > var['Silver']) & (var['Silver'] > var['Bronze'])).value_counts()[1]
    return result

# run and check
exercise_05()

253

In [8]:
# 6) Which country has won at least one medal in each olympic edition?

def exercise_06():
    var = df.pivot_table(index = 'NOC', columns = 'Edition', values = 'Medal', aggfunc = 'count')
    var = var.dropna().index[0]
    result = var
    return result

# run and check
exercise_06()

'GBR'

In [9]:
# 7) What is the total sum of scores?

def exercise_07():
    df['Score'] = df['Medal']
    df['Score'] = df['Score'].replace(['Gold', 'Silver', 'Bronze'], [3,2,1])
    result = df['Score'].sum()
    return result

# run and check
exercise_07()

58593

In [10]:
# 8) Which athlete has the largest sum of scores?

def exercise_08():
    var3 = df.pivot_table(index='Athlete',values='Score',aggfunc='sum')
    result = var3['Score'].idxmax()
    return result

# run and check
exercise_08()

'PHELPS, Michael'

In [11]:
# 9) Which woman athlete has the largest sum of scores (°)?

def exercise_09():
    var4 = df.pivot_table(index='Athlete',columns='Gender',values='Score',aggfunc='sum')
    result = var4['Women'].fillna(0).idxmax()
    return result

# run and check
exercise_09()

'LATYNINA, Larisa'

In [12]:
# 10) For how many countries the sum of men' scores is equal to the sum of women' scores?

def exercise_10():
    var5 = df.pivot_table(index='NOC',columns='Gender',values='Score',aggfunc='sum')
    result = (var5['Men'] == var5['Women']).value_counts()[1]
    return result

# run and check
exercise_10()

3

In [13]:
# 11) How many different trials are in the dataset?

def exercise_11():
    df['Trial'] = df[['Discipline', 'Sport', 'Event']].agg(' '.join, axis=1)
    result = df['Trial'].nunique()
    return result

# run and check
exercise_11()

648

In [14]:
# 12) Which edition has the most different trials?

def exercise_12():
    trial = df.pivot_table(index = 'Edition', values = 'Trial', aggfunc = 'nunique')
    result = trial.idxmax()[1]
    return result

# run and check
exercise_12()

2004

In [15]:
# 13) How many different first names are in the dataset?

def exercise_13():
    df['FirstName'] = df['Athlete'].str.split(', ').str[1].fillna('Empty')
    result = df['FirstName'].nunique()
    return result

# run and check
exercise_13()

9773

In [16]:
# 14) Which athlete's first name has the largest sum of scores?

def exercise_14():
    ALSS = df.pivot_table(index = 'FirstName', values = 'Score', aggfunc = 'sum')
    result = ALSS['Score'].idxmax()
    return result

# run and check
exercise_14()

'Vladimir'

In [17]:
# 15) Which woman athlete's first name has the largest sum of scores (°)?

def exercise_15():
    last = df.pivot_table(index='FirstName', columns = 'Gender', values='Score', aggfunc='sum').fillna(0)
    result = last['Women'].idxmax()
    return result

# run and check
exercise_15()

'Elena'