# Assignment \#4 the Olympic dataset 1/2

#### Features description
- *City*: City
- *Edition*: Year
- *Sport*: Sport
- *Discipline*: Discipline
- *Athlete*: Athlete's last name and first name (generally separated by a comma and a space)
- *NOC*: Country, National Olympic Committee, ISO 3166-1 alpha-3
- *Gender*: Men, Women
- *Event*: Event
- *Event_gender*: Event gender (F = Women, M = Men, X = NA)
- *Medal*: Metal of medal (Bronze, Silver, Gold)

In [1]:
# usual import and options
import pandas as pd
pd.set_option("display.max_rows", 16)

### Loading the dataset

**file**: `'Summer Olympic medallists 1896 to 2008 - ALL MEDALISTS.txt'`

**separator**: tab: `\t`

In [2]:
# LOADING THE DATASET
# DO NOT CHANGE THIS CELL FOR GRADING
# THE DATASET SHOULD BE ALONG WITH THE NOTEBOOK AND THE PYTHON FILE

df = pd.read_csv('Summer Olympic medallists 1896 to 2008 - ALL MEDALISTS.txt', sep='\t')
df.head(500)

,City,Edition,Sport,Discipline,Athlete,NOC,Gender,Event,Event_gender,Medal
0,Athens,1896,Aquatics,Swimming,"HAJOS, Alfred",HUN,Men,100m freestyle,M,Gold
1,Athens,1896,Aquatics,Swimming,"HERSCHMANN, Otto",AUT,Men,100m freestyle,M,Silver
2,Athens,1896,Aquatics,Swimming,"DRIVAS, Dimitrios",GRE,Men,100m freestyle for sailors,M,Bronze
3,Athens,1896,Aquatics,Swimming,"MALOKINIS, Ioannis",GRE,Men,100m freestyle for sailors,M,Gold
4,Athens,1896,Aquatics,Swimming,"CHASAPIS, Spiridon",GRE,Men,100m freestyle for sailors,M,Silver
...,...,...,...,...,...,...,...,...,...,...
495,Paris,1900,Rowing,Rowing,"KLEIN, Roelof",ZZX,Men,pair-oared shell with coxswain (2+),M,Gold
496,Paris,1900,Rowing,Rowing,"MARTINET, Louis",FRA,Men,pair-oared shell with coxswain (2+),M,Silver
497,Paris,1900,Rowing,Rowing,UNKNOWN COX / BARREUR INCONNU,FRA,Men,pair-oared shell with coxswain (2+),M,Silver
498,Paris,1900,Rowing,Rowing,WALEFF,FRA,Men,pair-oared shell with coxswain (2+),M,Silver
499,Paris,1900,Rowing,Rowing,"ASHE, Saint-George",GBR,Men,single sculls (1x),M,Bronze

#### Questions

1) How many different cities have organized Olympic games?

2) How many different editions of Olympic games are in the dataset?

3) How many cities have organized more than one edition of Olympic games?

4) Which sport distributed the most medals?

5) Which discipline distributed the most medals?

6) How many gold medals have been distributed?

7) Which edition distributed the most silver medals?

8) In how many different disciplines did men received medals (Â°)?

9) In how many different disciplines did women received medals (Â°)?

10) How many disciplines are dedicated to women (Â°)?

11) How many countries have won a medal with an event gender equal to 'X'?

12) How many countries have won a gold medal with an event gender equal to 'X'?

13) How many different countries have an athlete whose surname is 'SCHMIDT' (+)?

14) How many different sports have the word 'ball' in their name?

15) How many Bronze or Silver medals have been won by any athlete whose surname is 'KIM' (+)?

(Â°) Use the 'Gender' column.

(+) Most of athlene's names are in the form: 'SURNAME, Firstname'

In [3]:
# 1) How many different cities have organized Olympic games?
def exercise_01():
    c = df['City']
    c
    result = c.nunique()
    return result

# run and check
exercise_01()

22

In [4]:
# 2) How many different editions of Olympic games are in the dataset?
def exercise_02():
    ogy = df['Edition']
    ogy
    result = ogy.nunique()
    return result

# run and check
exercise_02()

26

In [5]:
# 3) How many cities have organized more than one edition of Olympic games?

def exercise_03():
    CleanCi = df['City'].drop_duplicates()
    CleanEd = df['Edition'].drop_duplicates()   
    result = CleanEd.nunique()-CleanCi.nunique()
    return result

# run and check
exercise_03()

4

In [6]:
# 4) Which sport distributed the most medals?

def exercise_04():
    result = df['Sport'].value_counts().idxmax()
    return result

# run and check
exercise_04()

'Aquatics'

In [7]:
# 5) Which discipline distributed the most medals?

def exercise_05():
    result = df['Discipline'].value_counts().idxmax()
    return result

# run and check
exercise_05()

'Athletics'

In [8]:
# 6) How many gold medals have been distributed?

def exercise_06():
    medals= df['Medal'].value_counts()
    result = medals.loc['Gold']
    return result

# run and check
exercise_06()

9850

In [9]:
# 7) Which edition distributed the most silver medals?

def exercise_07():
    result = df[df.Medal == 'Silver'].Edition.value_counts().idxmax()
    return result

# run and check
exercise_07()

2000

In [10]:
# 8) In how many different disciplines did men received medals (Â°)?

def exercise_08():
    result = df[df.Gender == 'Men'].Discipline.value_counts().size
    return result

# run and check
exercise_08()

53

In [11]:
# 9) In how many different disciplines did women received medals (Â°)?

def exercise_09():
    result = df[df.Gender == 'Women'].Discipline.value_counts().size
    return result

# run and check
exercise_09()

40

In [12]:
# 10) How many disciplines are dedicated to women (Â°)?

def exercise_10():
    result = df['Discipline'].nunique() - df.loc[df['Gender'] == 'Men', 'Discipline'].nunique()
    return result

# run and check
exercise_10()

3

In [13]:
# 11) How many countries have won a medal with an event gender equal to 'X'?

def exercise_11():
    result = df.loc[(df.Event_gender == 'X'), 'NOC'].nunique()
    return result

# run and check
exercise_11()

49

In [14]:
# 12) How many countries have won a gold medal with an event gender equal to 'X'?

def exercise_12():
    result = df.loc[(df['Medal'] == 'Gold') & (df['Event_gender'] == 'X'), 'NOC'].nunique()
    return result

# run and check
exercise_12()

33

In [15]:
# 13) How many different countries have an athlete whose surname is 'SCHMIDT'?

def exercise_13():
    result = df.loc[(df.Athlete.str.match('SCHMIDT'), 'NOC')].nunique()
    return result

# run and check
exercise_13()

11

In [16]:
# 14) How many different sports have the word 'ball' in their name?

def exercise_14():
    result = df.Sport[df['Sport'].str.contains('ball')].nunique()
    return result

# run and check
exercise_14()

6

In [17]:
# 15) How many Bronze or Silver medals have been won by any athlete whose surname is 'KIM'?

def exercise_15():
    result =  len(df.loc[(((df['Medal'] == 'Silver') | (df['Medal'] == 'Bronze')) & (df.Athlete.str[0:4] == 'KIM,'))])
    return result

# run and check
exercise_15()

78